In [1]:
# This notebook does feature engineering and cleans up the Taiwan Credit Default dataset.  

# Import Data handling/display libraries
import pandas as pd
import numpy as np
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline, FeatureUnion
# from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder,StandardScaler, MinMaxScaler, RobustScaler 
from typing import List, Union, Dict
# Warnings will be used to silence various model warnings for tidier output
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the Taiwan Credit Card Default training dataset
Taiwan_df = pd.read_csv('./input/Taiwan-Credit-Card-Default-Orig.csv')

# Drop the first row because it is a redundant heading row.
Taiwan_df.to_csv('./input/Taiwan-Credit-Card-New.csv', header=False, index=False)

# Re-read the dataset with its proper column headers
Taiwan_df = pd.read_csv('./input/Taiwan-Credit-Card-New.csv')
# Rename a couple of columns for aesthetics
Taiwan_df.rename(columns={'SEX':'GENDER', 'PAY_0': 'PAY_1',
                          'default payment next month':'DEFAULT'}, 
                          inplace=True)
# Drop ID as it has no impact on this study.
Taiwan_df.drop(["ID"], axis=1, inplace=True)

In [3]:
# Make males 0, Females 1
gender = {1: 0,2: 1} 
Taiwan_df.GENDER = [gender[item] for item in Taiwan_df.GENDER]
Taiwan_df.GENDER.value_counts()

1    18112
0    11888
Name: GENDER, dtype: int64

In [4]:
# We create a new column AMT_PAY_RATIO to hold the ratio of:
# Total sum owed / Total sum paid over 6 months
Taiwan_df['AMT_PAY_RATIO'] = (Taiwan_df['BILL_AMT1']+Taiwan_df['BILL_AMT2']+
                              Taiwan_df['BILL_AMT3']+Taiwan_df['BILL_AMT4']+
                              Taiwan_df['BILL_AMT5']+
                              Taiwan_df['BILL_AMT6']) / (Taiwan_df['PAY_AMT1']+
                                                         Taiwan_df['PAY_AMT2']+Taiwan_df['PAY_AMT3']+
                                                         Taiwan_df['PAY_AMT4']+Taiwan_df['PAY_AMT5']+
                                                         Taiwan_df['PAY_AMT6'])

In [5]:
# Here we create a 6 new columns called AMT-PAY-RATIO. This will contain 
# the amount/payment ratio for the 6 BILL_AMTx/PAY_AMTx. 
Taiwan_df['AMT_PAY_RATIO1'] = Taiwan_df['BILL_AMT1']/Taiwan_df['PAY_AMT1']
Taiwan_df['AMT_PAY_RATIO2'] = Taiwan_df['BILL_AMT2']/Taiwan_df['PAY_AMT2']
Taiwan_df['AMT_PAY_RATIO3'] = Taiwan_df['BILL_AMT3']/Taiwan_df['PAY_AMT3']
Taiwan_df['AMT_PAY_RATIO4'] = Taiwan_df['BILL_AMT4']/Taiwan_df['PAY_AMT4']
Taiwan_df['AMT_PAY_RATIO5'] = Taiwan_df['BILL_AMT5']/Taiwan_df['PAY_AMT5']
Taiwan_df['AMT_PAY_RATIO6'] = Taiwan_df['BILL_AMT6']/Taiwan_df['PAY_AMT6']

# We now replace the inf values (from division by zero) with NaN
Taiwan_df.replace([np.inf, -np.inf], np.nan, inplace=True)

# We then drop the all the original BILL_AMTx aand PAY_AMTx columns.
Taiwan_df.drop(["BILL_AMT1","BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6"], axis=1, inplace=True)
Taiwan_df.drop(["PAY_AMT1", "PAY_AMT2" , "PAY_AMT3" , "PAY_AMT4" , "PAY_AMT5" , "PAY_AMT6" ], axis=1, inplace=True)
#Taiwan_df.head(10)

In [6]:
# Now we do some data cleansing:
# Education categories 0, 5, and 6 have no definition, so make them 'Education Other', eg '4'
fil = (Taiwan_df.EDUCATION == 5) | (Taiwan_df.EDUCATION == 6) | (Taiwan_df.EDUCATION == 0)
Taiwan_df.loc[fil, 'EDUCATION'] = 4
# MARRIAGE category 0 has no definition, so make them 'Marriage Other', eg '3'
Taiwan_df.loc[Taiwan_df.MARRIAGE == 0, 'MARRIAGE'] = 3

In [7]:
# Create a function to return columns from the dataframe.
class SelectCols(TransformerMixin):
    """Select columns from a DataFrame."""
    def __init__(self, cols: List[str]) -> None:
        self.cols = cols
    def fit(self, x: None) -> "SelectCols":
        """Nothing to do."""
        return self
    def transform(self, x: pd.DataFrame) -> pd.DataFrame:
        """Return just selected columns."""
        return x[self.cols]

In [8]:
class NumericEncoder(TransformerMixin):
    """Remove invalid values from numerical columns, replace with median."""
    def fit(self, x: pd.DataFrame) -> "NumericEncoder":
        # Find median for all columns. Examine all columns for non-NaNs, invalid values and NaNs
        # If a column is all NaNs (after coercion), the median value will be a NaN.
        self.encoders_ = {
            c: pd.to_numeric(x[c], errors='coerce').median(skipna=True) for c in x}
        return self

    def transform(self, x: pd.DataFrame) -> pd.DataFrame:
        #For each column in x, encode any NaN values with the learned medium 
        # Create a list of new DataFrames, each with 1 cleaned columns
        output_dfs = []
        for c in x:
            new_cols = pd.DataFrame()
            # Find invalid values that aren't nans (-inf, inf, string)
            invalid_idx = pd.to_numeric(x[c].replace([-np.inf, np.inf],np.nan),
                                        errors='coerce').isnull()
            # Copy to new df for this column
            new_cols.loc[:, c] = x[c].copy()
            # Replace the invalid values with learned median
            new_cols.loc[invalid_idx, c] = self.encoders_[c]
            output_dfs.append(new_cols)

        # Concat list of output_dfs to single df
        df = pd.concat(output_dfs, axis=1)
        # Return with an remaining NaNs removed. These might exist if the median
        # is a NaN because there was no numeric data in the column at all.
        return df.fillna(0)

In [9]:
# Construct the data engineering pipeline
# NumericEncoding fork: Select numeric columns -> numeric encode
pp_numeric_cols = Pipeline([('select', SelectCols(cols=['LIMIT_BAL','GENDER','EDUCATION','MARRIAGE','AGE',
                                                       'PAY_1','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6',
                                                       'AMT_PAY_RATIO1', 'AMT_PAY_RATIO2', 'AMT_PAY_RATIO3', 
                                                       'AMT_PAY_RATIO4', 'AMT_PAY_RATIO5', 'AMT_PAY_RATIO6',
                                                       'AMT_PAY_RATIO', 'DEFAULT'])),
                            ('process', NumericEncoder())])

In [10]:
# .fit_transform on the Taiwan dataset
Taiwan_pp = pp_numeric_cols.fit_transform(Taiwan_df)

In [12]:
# Finally write the cleaned dataset out to a csv
Taiwan_pp.to_csv('./input/Taiwan-Credit-Card-Cleaned.csv',index=False)
#Taiwan_df.to_csv('./input/Taiwan-Credit-Card-Cleaned.csv',index=False)